body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
}
button {
    background-color:#FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 1px solid red;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
