body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
button {
    background-color:#FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 1px solid red;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.locations {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    text-align: center;
}
 .amenities {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
     height: 100%;
     width: 25%;
     text-align: center;
 }
h3 {
    font-weight: 600;
}
h4 {
    font-weight: 400;
    font-size: 14px;
}
